<ion-content>
    <div *ngIf="(afAuth.authState | async); signInOptions">
        <ion-chip *ngIf="auth.getUser() | async as user">
            <ion-avatar>
                <img [src]="user.photoURL">
            </ion-avatar>
            <ion-label>{{user.displayName}}</ion-label>
        </ion-chip>

        <hr/>

        <ion-button (click)="auth.signOut()">
            Log out
        </ion-button>
    </div>

    <ng-template #signInOptions>
        <div>
            <ion-button (click)="auth.signInViaGoogle()">
                Login via Google
            </ion-button>
        </div>

        <div>
            <ion-button (click)="auth.signInViaFacebook()">
                Login via Facebook
            </ion-button>
        </div>
    </ng-template>
</ion-content>
